@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    vertical-align: bottom;
}

a{
    text-decoration: none;
}

h1{
    text-align: center;
    margin: 40px 0;
}

.col-wrapper{
    width: 90%;
    margin: 0 auto 100px;
    columns: 4;
    gap: 20px;
}

.box{
    break-inside: avoid;

    background-color: bisque;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.photo{
    margin-bottom: 10px;
}

.photo img{
    border-radius: 8px;
}

.txt{
    line-height: 2;
}

#more-btn{
    display: none;
}

/* レスポンシブ */
@media (max-width:960px){
    .col-wrapper{
        width: 96%;
        columns: 3;
    }

}

@media (max-width:640px){
    .col-wrapper{
        columns: 2;
    }

    #more-btn{
        display: block;
        margin-bottom: 50px;
        
    }

    .box:nth-of-type(n+9){
        display: none;
    }

    .button01 a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 1em 2em;
        width: 300px;
        color: #333;
        font-size: 18px;
        font-weight: 700;
        background-color: bisque;
        transition: 0.3s;
      }
      
      .button01 a::after {
        content: '';
        width: 5px;
        height: 5px;
        border-top: 3px solid #333333;
        border-right: 3px solid #333333;
        transform: rotate(45deg);
      }
      
      .button01 a:hover {
        text-decoration: none;
        background-color: bisque;
      }
}